@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #dadada;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    margin: 0 50px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 15px;
}

.wrapper .image {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: 5px;
    cursor: pointer;

}

.wrapper .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.25s;
}

.wrapper .image img:hover {
    transform: scale(1.2);
}

/* .wrapper .image img:change */

.gallery {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
}

.gallery.show {
    opacity: 1;
    animation: showGallery 0.2s ease;
    pointer-events: auto;
}

@keyframes showGallery{
    from{
        scale: 0;
    }
    to{
        scale: 1;
    }
}

.gallery-inner img {
    position: absolute;
    width: 70%;
    height: 70%;
    top: 15%;
    left: 15%;
    margin: 0 auto;
    object-fit: cover;
}

.control {
    position: absolute;
    color: rgba(255, 255, 255, 0.8);
    font-size: 50px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.prev {
    left: 15px;
}

.next {
    right: 15px;
}

.close {
    color: white;
    font-size: 35px;
    position: absolute;
    top: 15px;
    right: 25px;
    cursor: pointer;
}

.hide {
    display: none;
}